/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #9080E7;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #3f3577;
    height: 150px;    
    -ms-flex-wrap: wrap;    
        flex-wrap: wrap;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    color: #090714;
}

header img {
    width: 120px;
    height: 120px;
    margin: auto 0 auto 15px;
    border: 3px solid #090714;
    border-radius: 50%;
}
.header__name{
    font-size: 60px;
    width: 40%;
    -ms-flex-item-align: center;
        align-self: center;
    
}
.header__text {
    font-weight: 600;
    font-size: 20px;
    width: 42%;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 15px;
    border: dotted 2px #9080E7;
    border-radius: 12px;
    color: #9080E7;
}
nav{
    background-color: #6255A9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
nav a{
    margin: 10px;
    padding: 10px;
    background-color: #221B46;
    color: #9080E7;
    text-decoration: none;
    -webkit-box-shadow: #090714 5px 5px;
            box-shadow: #090714 5px 5px;
}
nav a:hover{
    background-color: #3f3577;
}
nav a:active{
    -webkit-box-shadow: none;
            box-shadow: none;
}

main{
    width:80%;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: flex-start;
}

main article{
    width: 30%;
    background-color: #3f3577;
    color: #9080E7;
    padding: 10px;
    border-radius: 10px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-bottom: 15px;
    margin-right: 1.1%;
}

main article h2{
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.prevue {
    width: 90%;
    height: 155px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #9080E7;
    position: relative;
    overflow: hidden;
    position: relative;
}

.prevue .links{
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    z-index: 10;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.links a{
    background-color: #6255A9;
    padding: 10px;
    text-decoration: none;
    color: #221B46;
    border-top: 3px solid #9080E7;
    border-left: 3px solid #9080E7;
    border-right: 3px solid #221B46;
    border-bottom: 3px solid #221B46;
    -webkit-box-shadow: #090714 2px 2px;
            box-shadow: #090714 2px 2px;
    border-radius: 10px;
}

.links a:active{
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(2px 2px);
            transform: translate(2px 2px);
}


article img{
    height: 155px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 10;
}

.about{
    position: absolute;
    padding: 10px;
    text-align: center;
    color: #9080E7;
    width: 90%;
    left: 0;
    top: 10px;
    z-index: 10;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.prevue:hover .links{
    opacity: 1;
}

.prevue:hover .about{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.prevue:hover img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.prevue:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.8);
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}
.prevue:hover:after {
    opacity: 1;
}

article .tags:before{
    content: "✎";
    position: relative;
    right: 10px;
    font-size: 20px;
    font-weight: 900;
}

article .tags{
    position: relative;
    left: 12px;
}

.line{
    border: 1px dashed #6255A9;
    margin-bottom: 10px;
}
