/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Bree Serif', serif;
    background: #9080E7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #3f3577;   
    -ms-flex-wrap: wrap;    
        flex-wrap: wrap;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    color: #090714;
}

header img {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 3px solid #090714;
    border-radius: 50%;
}
.header__name{
    font-family: 'Patua One', cursive;
    font-size: 60px;
    width: 40%;
    margin-left: 20px;
    -ms-flex-item-align: center;
    align-self: center;
    color: #9080E7;
    -webkit-text-stroke: 2px #090714;
    
}
.header__text {
    font-size: 20px;
    width: 42%;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 15px;
    border: dotted 2px #9080E7;
    border-radius: 12px;
    color: #9080E7;
}
nav{
    background-color: #6255A9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
           flex-wrap: wrap;
}
nav a{
    margin: 10px;
    padding: 10px;
    background-color: #221B46;
    color: #9080E7;
    text-decoration: none;
    -webkit-box-shadow: #090714 5px 5px;
            box-shadow: #090714 5px 5px;
    transition: all 0.2s;
}
nav a:hover{
    background-color: #3f3577;
    color: #090714;
}
nav a:active{
    -webkit-box-shadow: none;
            box-shadow: none;
    transform: translate(5px 5px);
}

main{
    width:80%;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: flex-start;
}

main article{
    width: 30%;
    background-color: #3f3577;
    color: #9080E7;
    padding: 10px;
    border-radius: 10px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-bottom: 15px;
    margin-right: 1.1%;
}

main article h2{
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.prevue {
    width: auto;
    height: 155px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #9080E7;
    position: relative;
    overflow: hidden;
}

.prevue .links{
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 10;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.links a{
    background-color: #6255A9;
    padding: 10px;
    text-decoration: none;
    color: #221B46;
    border-top: 3px solid #9080E7;
    border-left: 3px solid #9080E7;
    border-right: 3px solid #221B46;
    border-bottom: 3px solid #221B46;
    -webkit-box-shadow: #090714 2px 2px;
            box-shadow: #090714 2px 2px;
    border-radius: 10px;
}

.links a:active{
    -webkit-box-shadow: none;
            box-shadow: none;
}


.prevue img{
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 10;
}

.about{
    position: absolute;
    padding: 10px;
    text-align: center;
    color: #9080E7;
    width: 90%;
    left: 0;
    top: 10px;
    z-index: 10;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.prevue:hover .links{
    opacity: 1;
    visibility: visible;
}

.prevue:hover .about{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.prevue:hover img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.prevue:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.8);
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}
.prevue:hover:after {
    opacity: 1;
}

article .tags:before{
    content: "✎";
    position: relative;
    right: 10px;
    font-size: 20px;
    font-weight: 900;
}

article .tags{
    position: relative;
    left: 12px;
}

.line{
    border: 1px dashed #6255A9;
    margin-bottom: 10px;
}


@media screen and (max-width: 1137px){
    main article {
        width: 35%;
        margin-right: 5%;
        display: inline-block;
    }
    main {
        margin-left: 18%;
    }
    header img {
        width: 110px;
        height: 110px;
    }
    .header__name{
        font-size: 54px;
    }
}

@media screen and (max-width: 1072px){
    .header__text{
        width: 80%;
        margin: 10px;
        margin-left: 8%;
    }
    header img {
        margin-left: 25%;
    }
}

@media screen and (max-width: 1035px){
    header img {
        margin-left: 19%;
    }
    .header__name{
        width: 50%;
    }
    main {
        margin-left: 18%;
    }
    
}

@media screen and (max-width: 838px){
    header img {
        margin-left: 16%;
    }
    .header__name{
        width: 55%;
        font-size: 50px;
    }
}

@media screen and (max-width: 715px){
    header img {
        margin-left: 20%;
        width: 100px;
        height: 100px;
    }
    .header__name{
        font-size: 40px;
        width: 60%;
    }
    .header__text{
        font-size: 16px;
    }
    main article{
        width: 60%;
    }
    main {
        margin-left: 25%;
    }
}

@media screen and (max-width: 697px){
    header img {
        width: 80px;
        height: 80px;
    }
    .header__name{
        margin-left: 15px;
    }
}

@media screen and (max-width: 615px){
    header img {
        margin-left: 17%;
        width: 50px;
        height: 50px;
        border-width: 1px;
    }
    .header__text{
        margin-left: 8%;
    }
    main {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    main article {
        width: 65%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 530px){
    header img {
        margin-left: 45%;
    }
    .header__name {
        margin-left: 22%;
        width: 70%;
    }
    .header__text{
        font-size: 15px;
        padding: 5px;
        line-height: 18px;
    }
    nav a {
        font-size: 15px;
        padding: 5px;
    }
}

@media screen and (max-width: 460px){
    header img {
        margin-left: 45%;
    }
    .header__name {
        margin-left: 19%;
        font-size: 36px;
    }
    main article {
        width: 70%;
        margin: 10px auto;
    }
    main article h2 {
        font-size: 18px;
    }
    article .tags {
        font-size: 14px;
    }
}

@media screen and (max-width: 405px){
    .header__name{
        font-size: 30px;
        margin-left: 20%;
    }
    .about{
        font-size: 14px;
    }
    .links a {
        padding: 5px;
    }
}

@media screen and (max-width: 341px){
    .header__name{
        margin-left: 12%;
        width: 90%;
    }
    header img {
        margin-left: 42%;
    }
    .prevue{
        height: 120px;
    }
}